<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.anto.notificationscheduler">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <receiver
            android:name="fr.anto.notificationscheduler.Booter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="fr.anto.notificationscheduler.ActionReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="fr.anto.notificationscheduler.NotificationPublisher"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>